{% extends 'base.html' %}
{% block 'container' %}
<div class="container">
    <p><h3>CREATE BLOG</h3></p>
</div>
<p>{{error}}</p>
<div class="container">
    <form method="POST", action="{% url 'create' user.pk %}", enctype="multipart/form-data">
        {% csrf_token %}
        <label for="title">Blog Title</label><br/>
        <input type="text" id="title" name="title" size="100" placeholder="Blog Title"><br/>
        <label for="body">Blog</label><br/>
        <textarea id="body" name="body" rows="5" cols="100" placeholder="Blog Detail"></textarea><br/>
        <label for="image1">Blog image</label><br/>
        <input type="file" id="image1" name="image"><br/><br/>
        <button type="submit" class="btn btn-primary">Create Blog</button>
    </form>
</div>


{% endblock %}